<div class="container">
  <h1>Filter Addresses</h1>
  <br>
  <input type="text" [(ngModel)] = "searchText" name="searchText">
  <select name="filters" [(ngModel)] = "filters">
    <option value="long_name">Long Name</option>
    <option value="short_name">Short Name</option>
    <option value="types">Types</option>
  </select>
  <button (click)="filterData()">Filter Data</button>
  <button (click)="resetData()">Reset Filter</button>
<br>
  <div *ngFor="let item of addComp" style="display: flex; flex-direction: row; justify-content: space-between;">
    <p>{{item.long_name}}</p>
    <p>{{item.short_name}}</p>
    <p>{{item.types}}</p>
  </div>
</div>